<!--<div class="container">
    <img src="./assets/IMG_7492.JPG" alt="Avatar">
    <p>Hello. How are you today?</p>
    <span class="time-right">11:00</span>
  </div>

  <div class="container darker">
    <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" alt="Avatar" class="right">
    <p>Hey! I'm fine. Thanks for asking!</p>
    <span class="time-left">11:01</span>
  </div>

  <div class="container">
    <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" alt="Avatar">
    <p>Sweet! So, what do you wanna do today?</p>
    <span class="time-right">11:02</span>
  </div>

  <div class="container darker">
    <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" alt="Avatar" class="right">
    <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <span class="time-left">11:05</span>
  </div>-->
  <div class="container" *ngFor="let msg of messages">
    <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" alt="Avatar">
    <p>{{msg.msgcontent}}</p>
    <span class="time-right">{{msg.sent_time}}</span>
  </div>
  <div class=" container fieldlabel">
    <input type="text" class="form-control" placeholder="Enter message">
    <button ng-click="navigate()">OK</button>
  </div>
